body {
	background-image: url('../images/pink.png');
}

table#game_board{
	margin:auto;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(100,100,100);
}

table#game_board td{
	padding:5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(50,50,50);	
}

#messages p{
	margin: 0px;
}

td.hovered_over:hover {
	background: url('../images/hover.gif');
	background-size: 100% 100%;
}

#game_over.btn.btn-success {
	 color: #fff;
    background-color: rgba(255,105,180);
    border-color: #FF69B4;
}




.h1, h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
      font-family: 'Baloo', cursive;
      color: rgb(255,105,180);
}


.h3, h3 {
	  font-size: 5em;
      text-transform: uppercase;
      font-family: 'Baloo', cursive;
}

.h4, h4 {
      text-transform: none;
      font-family: 'arial', sans-serif;
      color: rgb(255,105,180);

	}

.h6, h6 {
      text-transform: none;
      font-family: 'arial', sans-serif;

	}




@media screen and (max-width: 1024px) {
  /* For tablets: */

#game_message_col.col
    {
    max-width: 100%;
    position: relative;
    width: 100%;
padding-top: 1em;
	}
}


/* POP UP */ 
/* Modal Header */
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */